---
import type { Page } from "astro";
import LinkButton from "./LinkButton.astro";
import type { CollectionEntry } from "astro:content";
import { getLocaleInfo, translateFor } from "@i18n/utils";
import { DEFAULT_LOCALE } from "@i18n/config";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const t = translateFor(Astro.currentLocale);
const LOCALE = getLocaleInfo(Astro.currentLocale);

const { page } = Astro.props;

const currentLocale = Astro.currentLocale;

const localePrefix =
  "/" + (currentLocale === DEFAULT_LOCALE ? "" : currentLocale);
---

{
  page.lastPage > 1 && (
    <nav class="pagination-wrapper" aria-label={t("a11y.pagination")}>
      <LinkButton
        disabled={!page.url.prev}
        href={page.url.prev?.slice(localePrefix.length) as string}
        className={`me-4 select-none ${page.url.prev ? "" : "disabled"}`}
        ariaLabel="Previous"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class:list={[{ "disabled-svg": !page.url.prev }, "rtl:rotate-180"]}
        >
          <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
        </svg>{" "}
        {t("pagination.prev")}
      </LinkButton>
      {page.currentPage.toLocaleString(LOCALE.langTag)} /{" "}
      {page.lastPage.toLocaleString(LOCALE.langTag)}
      <LinkButton
        disabled={!page.url.next}
        href={page.url.next?.slice(localePrefix.length) as string}
        className={`mx-4 select-none ${page.url.next ? "" : "disabled"}`}
        ariaLabel="Next"
      >
        {t("pagination.next")}{" "}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class:list={[{ "disabled-svg": !page.url.next }, "rtl:rotate-180"]}
        >
          <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
        </svg>
      </LinkButton>
    </nav>
  )
}

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
