---
import { SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
import { translateFor } from "@i18n/utils";
import type { I18nStrings } from "@i18n/types";

export interface Props {
  centered?: boolean;
}

const t = translateFor(Astro.currentLocale);

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    SOCIALS.filter(social => social.active).map(social => (
      <LinkButton
        href={social.href}
        className="link-button"
        title={t(`socials.${social.name.toLowerCase()}` as keyof I18nStrings)}
      >
        <Fragment set:html={socialIcons[social.name]} />
        <span class="sr-only">
          {t(`socials.${social.name.toLowerCase()}` as keyof I18nStrings)}
        </span>
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
  }
</style>
